/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid black;
}

header a {
  color: black;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

nav span {
  margin-right: 16px;
}

/* Banner */

.banner {
  padding: 32px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.banner img {
  margin-right: 40px;
  width: 60%;
}

.banner-text {
  width: 35%;
  line-height: 2;
}

.banner-text h1 {
  width: 70%;
  border: 1px solid black;
}

.banner-text h2 {
  width: 70%;
  border: 1px solid black;
}

.start-here {
  display: flex;
  justify-content: center;
  width: 70%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid black;
}

/* More Info/Articles */

.more-info {
  display: flex;
  border-bottom: 1px solid black;
}

/* Left Side */

.more-info-left {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  width:60%;
}

.more-info-left img {
  margin-bottom: 32px;
}

.more-info-left h2 {
  margin-bottom: 24px;
}

.more-info-left p {
  margin-bottom: 36px;
}

/* Right Side */

.more-info-right .article {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.more-info-right {
  border-left: 1px solid black;
}

.more-info-right .article img {
  padding: 16px;
  width: 35%;
}

.more-info-right .article .article-text h3 {
  margin-bottom: 8px;
}

.more-info-right .article .article-text p {
  margin-bottom: 8px;
}

/* Start Learning */

.start-learning {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.start-learning h2 {
  margin-bottom: 32px;
}

.class {
  width: 30%;
  border: 1px solid black;
}

.class img {
  width: 100%;
}
